<?xml version="1.0"?>
<!--
/**
 * BIG FISH Ltd.
 * http://www.bigfish.hu
 *
 * @title      Magento -> Custom Payment Module for BIG FISH Payment Gateway
 * @category   BigFish
 * @package    BigFish_Pmgw
 * @author     BIG FISH Ltd., paymentgateway [at] bigfish [dot] hu
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @copyright  Copyright (c) 2017, BIG FISH Ltd.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <bigfish_pmgw>
                <active>1</active>
                <storename>sdk_test</storename>
                <apikey>86af3-80e4f-f8228-9498f-910ad</apikey>
                <testmode>1</testmode>
                <responseUrl>bigfish_pmgw/payment/response</responseUrl>
                <model>BigFishPmgwFacade</model>
                <!--<title>Payment method (Pmgw)</title>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <sort_order>1</sort_order>
                <autoCommit>true</autoCommit>
                <debug>1</debug>-->
            </bigfish_pmgw>

            <bigfish_pmgw_cib>
                <model>BigFishPmgwCibFacade</model>
                <title>CIB Bank</title>
                <group>pmgw</group>
                <provider_code>CIB</provider_code>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <debug>1</debug>
            </bigfish_pmgw_cib>

            <!--<bigfish_pmgw_provider>
                <model>BigFish\Pmgw\Model\Provider\Provider</model>
                <title>Payment method provider abstract</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <can_initialize>1</can_initialize>
                <debug>1</debug>
            </bigfish_pmgw_provider>-->

            <!--
            <bigfish_pmgw_abaqoos>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwABAQOOSFacade</model>
                <title>Abaqoos</title>
                <provider_code>ABAQOOS</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_abaqoos>
            -->

            <!--
            <bigfish_pmgw_khb>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwKHBFacade</model>
                <title>KH Bank</title>
                <provider_code>KHB</provider_code>
                <allowspecific>0</allowspecific>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_khb>
            -->

            <!--
            <bigfish_pmgw_otp>
                <model>PmgwOTPFacade</model>
                <title>OTP Bank</title>
                <group>pmgw</group>
                <provider_code>OTP</provider_code>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <debug>1</debug>
            </bigfish_pmgw_otp>
            -->

            <!--
            <bigfish_pmgw_paypal>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwPAYPALFacade</model>
                <title>PayPal</title>
                <provider_code>PayPal</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_paypal>
            -->

            <!--
            <bigfish_pmgw_sms>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwSMSFacade</model>
                <title>SMS</title>
                <provider_code>SMS</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_sms>
            -->

            <!--
            <bigfish_pmgw_otp2>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwOTP2Facade</model>
                <title>OTP Bank (Two-way)</title>
                <provider_code>OTP2</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_otp2>
            -->

            <!--
            <bigfish_pmgw_escalion>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwESCALIONFacade</model>
                <title>Escalion</title>
                <provider_code>Escalion</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_escalion>
            -->

            <!--
            <bigfish_pmgw_wirecard>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwWIRECARDFacade</model>
                <title>QPAY Wirecard</title>
                <provider_code>QPAY</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_wirecard>
            -->

            <!--
            <bigfish_pmgw_fhb>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwFHBFacade</model>
                <title>FHB Bank</title>
                <provider_code>FHB</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_fhb>
            -->

            <!--
            <bigfish_pmgw_unicredit>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwUNICREDITFacade</model>
                <title>UniCredit Bank</title>
                <provider_code>UniCredit</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_unicredit>
            -->

            <!--
            <bigfish_pmgw_otpay>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwOTPAYFacade</model>
                <title>OTPay</title>
                <provider_code>OTPay</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_otpay>
            -->

            <!--
            <bigfish_pmgw_sofort>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwSOFORTFacade</model>
                <title>Sofort</title>
                <provider_code>Sofort</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_sofort>
            -->

            <!--
            <bigfish_pmgw_borgun>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwBORGUNFacade</model>
                <title>Borgun</title>
                <provider_code>Borgun</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_borgun>
            -->

            <!--
            <bigfish_pmgw_otpaymp>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwOTPAYMPFacade</model>
                <title>MasterPass</title>
                <provider_code>OTPayMP</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_otpaymp>
            -->

            <!--
            <bigfish_pmgw_khbszep>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwKHBSZEPFacade</model>
                <title>KHB SZEP Card</title>
                <provider_code>KHBSZEP</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_khbszep>
            -->

            <!--
            <bigfish_pmgw_otpmultipont>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwOTPMULTIPONTFacade</model>
                <title>OTP Multipont</title>
                <provider_code>OTPMultipont</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_otpmultipont>
            -->

            <!--
            <bigfish_pmgw_mkbszep>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwMKBSZEPFacade</model>
                <title>MKB SZEP Card</title>
                <provider_code>MKBSZEP</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_mkbszep>
            -->

            <!--
            <bigfish_pmgw_otpszep>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwOTPSZEPFacade</model>
                <title>OTP SZEP Card</title>
                <provider_code>OTPSZEP</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_otpszep>
            -->

            <!--
            <bigfish_pmgw_payu2>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwPAYU2Facade</model>
                <title>PayU2</title>
                <provider_code>PayU2</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_payu2>
            -->

            <!--
            <bigfish_pmgw_saferpay>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwSAFERPAYFacade</model>
                <title>Saferpay</title>
                <provider_code>Saferpay</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_saferpay>
            -->

            <!--
            <bigfish_pmgw_otpsimple>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwOTPSIMPLEFacade</model>
                <title>OTP Simple</title>
                <provider_code>OTPSimple</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_otpsimple>
            -->

            <!--
            <bigfish_pmgw_otpsimplewire>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwOTPSIMPLEWIREFacade</model>
                <title>OTP Simple Wire</title>
                <provider_code>OTPSimpleWire</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_otpsimplewire>
            -->

            <!--
            <bigfish_pmgw_barion>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwBARIONFacade</model>
                <title>Barion</title>
                <provider_code>Barion</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_barion>
            -->

            <!--
            <bigfish_pmgw_mpp>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwMPPFacade</model>
                <title>Mobile Payment</title>
                <provider_code>MPP</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_mpp>
            -->

            <!--
            <bigfish_pmgw_mcm>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwMCMFacade</model>
                <title>MasterCard Mobile Payment</title>
                <provider_code>MPP2</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_mcm>
            -->

            <!--
            <bigfish_pmgw_payu>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwPAYUFacade</model>
                <title>PayU</title>
                <provider_code>PayU</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_payu>
            -->

            <!--
            <bigfish_pmgw_payuwire>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwPAYUWIREFacade</model>
                <title>PayUWire</title>
                <provider_code>PayUWire</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_payuwire>
            -->

            <!--
            <bigfish_pmgw_payucash>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwPAYUCASHFacade</model>
                <title>PayUCash</title>
                <provider_code>PayUCash</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_payucash>
            -->

            <!--
            <bigfish_pmgw_payumobile>
                <group>pmgw</group>
                <active>0</active>
                <model>PmgwPAYUMOBILEFacade</model>
                <title>PayUMobile</title>
                <provider_code>PayUMobile</provider_code>
                <allowspecific>0</allowspecific>
                <debug>1</debug>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </bigfish_pmgw_payumobile>
            -->
        </payment>
    </default>
</config>
