<?xml version="1.0"?>
<!--
/**
 * BIG FISH Ltd.
 * http://www.bigfish.hu
 *
 * @title      Magento -> Custom Payment Module for BIG FISH Payment Gateway
 * @category   BigFish
 * @package    BigFish_Pmgw
 * @author     BIG FISH Ltd., paymentgateway [at] bigfish [dot] hu
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @copyright  Copyright (c) 2017, BIG FISH Ltd.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <bigfish_pmgw>
                <active>1</active>
                <storename>sdk_test</storename>
                <apikey>86af3-80e4f-f8228-9498f-910ad</apikey>
                <testmode>1</testmode>
                <responseUrl>bigfish_pmgw/payment/response</responseUrl>
                <model>BigFishPmgwFacade</model>
                <!--<title>Payment method (Pmgw)</title>
                <order_status>pending_payment</order_status>
                <payment_action>initialize</payment_action>
                <currency>HUF</currency>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <sort_order>1</sort_order>
                <autoCommit>true</autoCommit>
                <debug>1</debug>-->
            </bigfish_pmgw>

            <bigfish_pmgw_barion2>
                <model>BigFishPmgwBarion2Facade</model>
                <title>Barion Smart Gateway</title>
                <provider_code>Barion2</provider_code>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <active>0</active>
                <debug>1</debug>
            </bigfish_pmgw_barion2>

            <bigfish_pmgw_borgun>
                <model>BigFishPmgwBorgunFacade</model>
                <title>Borgun SecurePay</title>
                <provider_code>Borgun</provider_code>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <active>0</active>
                <debug>1</debug>
            </bigfish_pmgw_borgun>

            <bigfish_pmgw_borgun2>
                <model>BigFishPmgwBorgun2Facade</model>
                <title>Borgun RPG</title>
                <provider_code>Borgun2</provider_code>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <active>0</active>
                <debug>1</debug>
            </bigfish_pmgw_borgun2>

            <bigfish_pmgw_cib>
                <model>BigFishPmgwCibFacade</model>
                <title>CIB Bank</title>
                <provider_code>CIB</provider_code>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <active>0</active>
                <debug>1</debug>
            </bigfish_pmgw_cib>

            <bigfish_pmgw_escalion>
                <model>BigFishPmgwEscalionFacade</model>
                <title>Escalion</title>
                <provider_code>Escalion</provider_code>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <active>0</active>
                <debug>1</debug>
            </bigfish_pmgw_escalion>

            <bigfish_pmgw_fhb>
                <model>BigFishPmgwFhbFacade</model>
                <title>FHB Bank</title>
                <provider_code>FHB</provider_code>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <active>0</active>
                <debug>1</debug>
            </bigfish_pmgw_fhb>

        </payment>
    </default>
</config>
