<?xml version="1.0"?>
<!--
/**
 * BIG FISH Ltd.
 * http://www.bigfish.hu
 *
 * @title      Magento -> Custom Payment Module for BIG FISH Payment Gateway
 * @category   BigFish
 * @package    BigFish_Pmgw
 * @author     BIG FISH Ltd., paymentgateway [at] bigfish [dot] hu
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @copyright  Copyright (c) 2017, BIG FISH Ltd.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- General configuration -->

    <virtualType name="BigFishPmgwFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">BigFish\Pmgw\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BigFishPmgwValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BigFishPmgwCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="BigFishPmgwConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="BigFishPmgwValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BigFishPmgwConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BigFishPmgwConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BigFishPmgwConfig</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="BigFishPmgwCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">BigFishPmgwAuthorizeCommand</item>
                <item name="capture" xsi:type="string">BigFishPmgwCaptureCommand</item>
                <item name="void" xsi:type="string">BigFishPmgwVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="BigFishPmgwAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BigFish\Pmgw\Gateway\Request\AuthorizeRequest</argument>
            <argument name="transferFactory" xsi:type="object">BigFish\Pmgw\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">BigFish\Pmgw\Gateway\Http\Client\AuthorizeClient</argument>
        </arguments>
    </virtualType>

    <!-- Authorize request -->
    <type name="BigFish\Pmgw\Gateway\Request\AuthorizeRequest">
        <arguments>
            <argument name="config" xsi:type="object">BigFishPmgwConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="BigFishPmgwCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BigFish\Pmgw\Gateway\Request\CaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">BigFish\Pmgw\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">BigFish\Pmgw\Gateway\Http\Client\CaptureClient</argument>
        </arguments>
    </virtualType>

    <!-- Capture request -->
    <type name="BigFish\Pmgw\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">BigFishPmgwConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="BigFishPmgwVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BigFish\Pmgw\Gateway\Request\VoidRequest</argument>
            <argument name="transferFactory" xsi:type="object">BigFish\Pmgw\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">BigFish\Pmgw\Gateway\Http\Client\VoidClient</argument>
            <argument name="validator" xsi:type="object">BigFish\Pmgw\Gateway\Validator\ResponseCodeValidator</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="BigFish\Pmgw\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">BigFishPmgwConfig</argument>
        </arguments>
    </type>

    <type name="BigFish\Pmgw\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">BigFishPmgwConfig</argument>
        </arguments>
    </type>

    <preference for="Magento\Sales\Model\Order\Email\Sender\OrderSender" type="BigFish\Pmgw\Model\Order\Email\Sender\OrderSender"/>

    <!-- Provider specific configuration -->

    <!-- Barion2 -->
    <virtualType name="BigFishPmgwBarion2Facade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_BARION2</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">BigFish\Pmgw\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BigFishPmgwBarion2ValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BigFishPmgwCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="BigFishPmgwBarion2Config" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_BARION2</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="BigFishPmgwBarion2ValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BigFishPmgwBarion2ConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BigFishPmgwBarion2ConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BigFishPmgwBarion2Config</argument>
        </arguments>
    </virtualType>
    <!-- Barion2 -->

    <!-- Borgun -->
    <virtualType name="BigFishPmgwBorgunFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_BORGUN</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">BigFish\Pmgw\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BigFishPmgwBorgunValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BigFishPmgwCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="BigFishPmgwBorgunConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_BORGUN</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="BigFishPmgwBorgunValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BigFishPmgwBorgunConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BigFishPmgwBorgunConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BigFishPmgwBorgunConfig</argument>
        </arguments>
    </virtualType>
    <!-- Borgun -->

    <!-- Borgun2 -->
    <virtualType name="BigFishPmgwBorgun2Facade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_BORGUN2</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">BigFish\Pmgw\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BigFishPmgwBorgun2ValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BigFishPmgwCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="BigFishPmgwBorgun2Config" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_BORGUN2</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="BigFishPmgwBorgun2ValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BigFishPmgwBorgun2ConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BigFishPmgwBorgun2ConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BigFishPmgwBorgun2Config</argument>
        </arguments>
    </virtualType>
    <!-- Borgun2 -->

    <!-- Cib -->
    <virtualType name="BigFishPmgwCibFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_CIB</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">BigFish\Pmgw\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BigFishPmgwCibValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BigFishPmgwCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="BigFishPmgwCibConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_CIB</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="BigFishPmgwCibValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BigFishPmgwCibConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BigFishPmgwCibConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BigFishPmgwCibConfig</argument>
        </arguments>
    </virtualType>
    <!-- Cib -->

    <!-- Escalion -->
    <virtualType name="BigFishPmgwEscalionFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_ESCALION</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">BigFish\Pmgw\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BigFishPmgwEscalionValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BigFishPmgwCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="BigFishPmgwEscalionConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_ESCALION</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="BigFishPmgwEscalionValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BigFishPmgwEscalionConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BigFishPmgwEscalionConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BigFishPmgwEscalionConfig</argument>
        </arguments>
    </virtualType>
    <!-- Escalion -->

    <!-- Fhb -->
    <virtualType name="BigFishPmgwFhbFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_FHB</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">BigFish\Pmgw\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BigFishPmgwFhbValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BigFishPmgwCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="BigFishPmgwFhbConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\BigFish\Pmgw\Model\ConfigProvider::CODE_FHB</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="BigFishPmgwFhbValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BigFishPmgwFhbConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BigFishPmgwFhbConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BigFishPmgwFhbConfig</argument>
        </arguments>
    </virtualType>
    <!-- Fhb -->

</config>
